
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height:  120px;
    box-shadow: 0px 7px 5px 0px #dad8d8;
  
    &-logo {
      width: 135px;

      &-background{
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        top: 0px;  
        left: 120px;
        width: 200px;
        height: 120px;

        &-line{
          position: absolute;
          z-index: 4;
          height: 100%;
          // border: 2px solid red;
        }
      }  

      &:hover {
        transform: scale(1.01);
      }
    }

    .link {
        position: absolute;
        right: 50px;
    }
  
    .link-component {
        margin: 0px 10px;  
    }
}


  