
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height:  100px;
    // box-shadow: 0px 7px 5px 0px #dad8d8;
  
    &-logo {
      position: absolute;
      width: 140px;
      top: -25px;  
      left: 80px;
    
      &:hover {
        transform: scale(1.05);
      }
    }

    .link {
        position: absolute;
        right: 50px;
    }
  
    .link-component {
        margin: 0px 10px;  
    }
}


  