.card {
    display: flex;
    justify-content: flex-start;
    margin-top: 100px;
    margin-left: 50px;
  
    &-item {
      display: flex;
      padding: 10px;
      border-radius: .3rem;
      box-shadow: 0px 17px 24px -10px rgb(53, 53, 53);
      width: 770px;
      transition: width 2s;

      &:hover{
        width: 1100px;
      }
    }
  
    &-image {
        max-width: 900px;
        border-radius: .3rem;
    }
  
    &-descricao {
        margin: auto;
        text-align: center;
        height: 80%;
    }


}
  